

.form-group{
  max-width: 100%;
}

input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=url]{
  &.form-control{
    border-radius: 3px;
    padding: 10px 15px;
    height: 44px;
    background: #fff;
    border: 1px solid darken($line,15%);
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);
    max-width: 100%;
    &:focus{
      border-color: lighten($brand-secondary,20%);
      box-shadow: inset 0 1px 4px rgba(0,0,0,0.4),  0 1px 4px rgba($brand-secondary,0.2);
    }
  }
}
textarea{
  &.form-control{
    border-radius: 3px;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid darken($line,15%);
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);
    &:focus{
      border-color: lighten($brand-secondary,20%);
      box-shadow: inset 0 1px 4px rgba(0,0,0,0.4),  0 1px 4px rgba($brand-secondary,0.2);
    }
  }
}

input[type="file"]{
  &.form-control{
    border: none;
    box-shadow: none;
  }
}

.filter-wrapper{
  border: none;
  box-shadow: none;
  padding: 5px;
  font-size: 0.8em;
}

label{
  font-weight: 300;
  font-size: 18px;
}

.form-actions{
  text-align: right;
  .btn{
    margin-right: 0;
    margin-left: 15px;
  }
}

.box.register{
  .form-item-name{
    margin-bottom: 50px;
  }
}

.field--name-user-picture{
  margin-bottom: 50px;
}

.field--name-field-last-name-user{
  margin-bottom: 50px;
}

.field--name-field-terms{
  h2{
    margin: 0 0 10px;
    font-size: 18px;
  }
  .terms-box{
    height: 200px;
    border: 1px solid $line;
    background: lighten($line,2%);
    overflow-y: scroll;
    padding: 15px;
    border-radius: 2px;
    font-size: 12px;
    h2{
      margin: 0 0 5px;
      font-size: 18px;
    }
    h3{
      margin: 0 0 5px;
      font-size: 16px;
    }
    h4{
      margin: 0 0 5px;
      font-size: 14px;
    }
  }
}

#edit-timezone{
  .panel-body{
    padding: 10px 0;
  }
}

.forgot-password-link{
  display: none;
}

.box.login{
  .forgot-password-link{
    display: block;
    font-size: 14px;
    float: left;
    padding-top: 15px;
  }
}

.filter-button{
  background: #fff;
  @media screen and (min-width: 768px) {
    display: none !important;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.region-sidebar-first{
  @media screen and (max-width: 767px) {
    overflow: hidden;
    &.box.well{
      min-height: 0;
      padding: 0 15px;
      box-shadow: none;
      margin-bottom: 0px;
    }
    max-height: 0;
    transition: max-height 0.3s ease, padding 0.3s ease, margin-bottom 0.3s ease;
    section{
    }
    &.opened{
      &.box.well{
        padding: 15px 15px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
      }
      max-height: 500px;
      section{
        display: block;
      }
    }
  }
}

.region-sidebar-first,
.region-sidebar-second{
  legend{
    margin-bottom: 10px;
  }
  .form-item-keywords{
    display: none;
  }
  .form-checkboxes{
    padding: 4px 0;
    .form-item{
      margin-right: 10px;
      display: block;
      label{
        font-size: 18px;
        font-weight: 300;
      }
    }
    input[type=checkbox]{
      vertical-align: top;
      margin: 4px 6px 0 0;
    }
  }
  .form-actions{
    display: none;
    button{
      display: block;
      margin: 10px 0 20px;
      background: $brand-secondary;
      width: 100%;
      &:active,&:focus,&:hover{
        background: darken($brand-secondary,10%);
      }
    }
  }
  .block-views-exposed-filter-blocksitewide-search-search{
    margin-bottom: 20px;
  }
  .facets-soft-limit-link{
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-top: 1px solid $line;
  }
}


@media screen and (min-width: 768px) {

  .field--name-field-first-name-user{
    width: 50%;
    padding-right: 15px;
    float: left;
  }
  
  .field--name-field-last-name-user{
    width: 50%;
    float: left;
  }

}