{%
  set classes = [
    'call-to-action-row',
    'clearfix',
  ]
%}
<section{{ attributes.addClass(classes) }}>
  <div class="container">
  {% block content %}
    {{ content }}
  {% endblock %}
  </div>
</section>