{%
  set classes = [
    'parallax-window',
    'home-welcome',
  ]
%}
<section{{ attributes.addClass(classes) }}  data-parallax="scroll" data-image-src="{{ file_url(content.field_background_image.0['#item'].entity.uri.value) }}" data-speed="0.0">
  <div class="container">
  
  {{ drupal_block('views_exposed_filter_block:sitewide_search-search') }}
    
  {% block content %}
    {{ content.body }}
  {% endblock %}
  </div>
</section>