{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}

{% include '@spacebase/includes/header.html.twig' %}

{# Main #}
{% block main %}


    {# Content #}

    {% block content %}
      <a id="main-content"></a>


      {{ page.content }}
    {% endblock %}
        
{% endblock %}

{% include '@spacebase/includes/footer.html.twig' %}

<div class="body-overlay"></div>
